<footer>

    <div class="footer-container footer-content">

        <div class="images-box">

            <img class="ps-logo" src="../../../assets/1280px-PlayStation_logo.png" alt="ps-logo">

            <div>
                <img class="globe-logo" src="../../../assets/Ícone-Globo-Terrestre-PNG.png" alt="globe-logo">
                <p>País/região: Brasil</p>
            </div>
            
        </div>

        <div class="footer-links">

            <ul>
                <li>Suporte</li>
                <li>Política de privacidade</li>
                <li>Termos de uso do site</li>
                <li>Mapa do site</li>
                <li>PlayStation Studios</li>
                <li>Legal</li>
                <li>Sobre a SIE</li>
            </ul>

            <ul>
                <li>Termos de serviço da PSN</li>
                <li>Política de cancelamento da PS Store</li>
                <li>Avisos de saúde</li>
                <li>Sobre as classificações</li>
            </ul>

            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>YouTube</li>
                <li>Instagram</li>
                <li>Aplicativo para Android</li>
                <li>Aplicativo para iOS</li>
            </ul>
        </div>

        <div class="copyright-box">
            <p>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</p>
        </div>

    </div>

</footer>