<app-header></app-header>

<main class="principal-content">

    <app-game-card></app-game-card>

    <app-game-card></app-game-card>

    <app-game-card></app-game-card>

</main>

<section class="see-more-box">
    <h3>Veja mais</h3>

    <div>

        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        <app-category-card></app-category-card>
        
    </div>

</section>

<app-footer></app-footer>
