<app-header></app-header>

<main class="principal-content">

    

    <app-game-card></app-game-card>

    <app-game-card></app-game-card>

    <app-game-card></app-game-card>


</main>

<section>
    <h3>Veja mais</h3>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

    <app-category-card></app-category-card>

</section>

<app-footer></app-footer>
